.dataTables_filter {
    float: right
}

.dataTables_filter input {
    margin: 0px 5px 0px 5px;
}

.dataTables_paginate {
    float: right
}

.dataTables_paginate .pagination {
    margin: 0px
}
.md-virtual-repeat-container.md-autocomplete-suggestions-container,
.md-select-menu-container {
    z-index: 10000;
}
.modal-dialog {
    overflow-y: initial !important
}

.modal-body {
    overflow-y: auto !important;
}

.front {
    background-color: #ecf0f5;
    min-height: 90vh;
}
#mydiv {  
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
    background-color:#000000;
    opacity: .8;
 }

.ajax-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px;  /* -1 * image height / 2 */
    display: block;     
}

