<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li>
                <a ui-sref='app.playlist'>
                    <i class="fa fa-music"></i> <span>Playlists</span>
                </a>
            </li>
            <li>
                <a ui-sref='app.videosearch'>
                    <i class="fa fa-youtube-play"></i> <span>Search for a song</span>
                </a>
            </li>
            <li class="treeview" ng-show="vm.can('manage.users')">
                <a href="javascript:void(0)">
                    <i class="fa fa-users"></i> <span>Users</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li ng-show="vm.can('manage.users')" class="active"><a ui-sref='app.userlist'><i class="fa fa-circle-o"></i> <span>User List</span></a></li>
                </ul>
            </li>
            <li class="treeview" ng-show="vm.can('manage.roles') || vm.can('manage.permissions')">
                <a href="javascript:void(0)">
                    <i class="fa fa-cog"></i> <span>Settings</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li ng-show="vm.can('manage.roles')"><a ui-sref='app.userroles'><i class="fa fa-circle-o"></i> <span>User Roles</span></a></li>
                    <li ng-show="vm.can('manage.permissions')"><a ui-sref='app.userpermissions'><i class="fa fa-circle-o"></i> <span>User Permissions</span></a></li>
                </ul>
            </li>
        </ul>
    </section>
</aside>