<header class="main-header">
  <a href="/" class="logo">
    <span class="logo-mini"><b>M</b>P</span>
    <span class="logo-lg"><b>Music</b>Playlist</span>
  </a>
  <nav class="navbar navbar-static-top">
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
            <li class="">
              <div class="pull-right">
                <a ui-sref="app.login" class="btn btn-default btn-flat">Sign In</a>
              </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
